/**
 *
 * Priority Menu (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-07-31
 *
 * @import 'lib/stile/sass/basic/query';
 *
 */


$color-base-light: #aaa;
$size-border-radius: 1.5px;
$color-inv-text: #fff;
$color-bg: #eee;
$color-bg-hover: #fff;


.priority-menu {
	display   : flex;
	position  : relative;
	overflow-x: hidden;
	overflow-y: visible;

	// For calm initializing
	opacity   : 0;
	transition: opacity 0.1s;

	.menu {
		flex-grow: 1;

		display        : flex;
		justify-content: flex-start;
		flex-wrap      : nowrap;
		overflow-x     : hidden;
	}

	// Menu Item
	li a:not([class]) {
		@include layout-centering(true);
		white-space: nowrap;
		line-height: 1;
		width : 100%;
		height: 100%;

		margin: 0;
		padding: 0.85rem 1rem;
		user-select: none;
		@include font-size-level(0, false);

		background-color: $color-bg;
		&:hover {
			text-decoration: underline;
			background-color: $color-bg-hover;
		}
	}

	.priority-menu-button {
		@include layout-centering(true);

		position: relative;
		margin  : 0;

		&::after {
			content: '...';
			display: block;
		}
		background-color: $color-bg;
		&:hover { background-color: $color-bg-hover; }
	}

	.priority-menu-popup {
		display: none;

		&.visible {
			display: block;
			margin : 0;

			position: absolute;
			top     : calc(100% + 0.25rem);
			right   : 0;
			z-index : 3;

			background-color: $color-bg;
			border-radius   : $size-border-radius;
			box-shadow      : 0 0.5rem 1rem rgba(#000, 0.2);

			li a {
				display: block;
				padding: 1.15rem 1.5rem;
			}
		}
	}

}
