/**
 *
 * Priority Menu (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-10-04
 *
 * @import 'lib/stile/sass/basic/query';
 * @import 'lib/stile/sass/basic/layout';
 * @import 'lib/stile/sass/basic/font';
 *
 */


$stool-priority-menu-color-bg      : #eee                              !default;
$stool-priority-menu-color-bg-hover: #fff                              !default;

$stool-priority-menu-font-size-level   : 0                               !default;
$stool-priority-menu-size-border-radius: 1.5px                           !default;
$stool-priority-menu-padding-item      : 0.85rem 1rem                    !default;

$stool-priority-menu-popup-padding-item: 1.15rem 1.5rem                  !default;
$stool-priority-menu-popup-box-shadow  : 0 0.5rem 1rem rgba(#000, 0.2) !default;
$stool-priority-menu-popup-z-index     : 3                               !default;
$stool-priority-menu-popup-offset      : 0.25rem                         !default;


.stool-priority-menu {
	display        : flex;
	justify-content: flex-end;

	position  : relative;
	overflow-y: visible;

	overflow-x: hidden;
	opacity   : 0;
	transition: opacity 0.1s;
	&.ready {
		overflow-x: visible;
		opacity   : 1;
	}

	> ul:not(.stool-priority-menu-popup) {
		flex-grow: 1;

		display        : flex;
		justify-content: flex-end;
		flex-wrap      : nowrap;
		overflow-x     : hidden;
	}

	// Menu Item
	li {
		label, a:not([class]) {
			@include layout-centering(true);
			margin: 0;
			width : 100%;
			height: 100%;

			user-select: none;
			padding    : $stool-priority-menu-padding-item;

			line-height: 1;
			white-space: nowrap;
			@include font-size-level($stool-priority-menu-font-size-level, false);
		}
	}

	.stool-priority-menu-button {
		@include layout-centering(true);

		position: relative;
		margin  : 0;

		&::after {
			content       : '...';
			display       : block;
			pointer-events: none;
		}
	}

	.stool-priority-menu-popup {
		display: none;

		&.open {
			display: block;
			margin : 0;

			position: absolute;
			top     : calc(100% + #{$stool-priority-menu-popup-offset});
			right   : 0;
			z-index : $stool-priority-menu-popup-z-index;

			background-color: $stool-priority-menu-color-bg;
			border-radius   : $stool-priority-menu-size-border-radius;
			box-shadow      : $stool-priority-menu-popup-box-shadow;

			li {
				label, a {
					display: block;
					padding: $stool-priority-menu-popup-padding-item;

					&:hover { background-color: $stool-priority-menu-color-bg-hover; }
				}
			}
		}
	}

}
