/**
 *
 * Button Styles - Link
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-12-28
 *
 */


@charset 'utf-8';


$button-link-bg-color    : transparent !default;
$button-link-border-color: gray !default;
$button-link-text-color  : gray !default;
$button-link-icon-color  : gray !default;
$button-link-pop-color   : gray !default;

$button-link-border-width    : 2px !default;
$button-link-border-radius   : 4px !default;
$button-link-text-bold       : true !default;
$button-link-text-size       : initial !default;
$button-link-text-line-height: 1.25 !default;
$button-link-pop-animation   : true !default;

$button-link-icon-left     : '\e408' !default;  // '\e5c4'
$button-link-icon-right    : '\e409' !default;  // '\e5c8'
$button-link-icon-size     : 1.5em !default;
$button-link-icon-pos      : 1.5rem !default;
$button-link-icon-pos-phone: 0.5rem !default;
$button-link-icon-animation: false !default;

$button-link-padding-h           : 2rem !default;
$button-link-padding-h-phone     : 1rem !default;
$button-link-padding-v           : 1.25rem !default;
$button-link-padding-v-phone     : 0.75rem !default;
$button-link-padding-h-icon      : 4rem !default;
$button-link-padding-h-icon-phone: 2.5rem !default;
$button-link-min-width           : 3.25rem !default;
$button-link-min-height          : 3rem !default;


@mixin button-link($icon: true) {
	position: relative;
	display: inline-flex;
	align-items: center;

	padding: $button-link-padding-v-phone $button-link-padding-h-phone;
	@include for-tablet-up { padding: $button-link-padding-v $button-link-padding-h; }
	min-width: $button-link-min-width;
	min-height: $button-link-min-height;

	@if $icon == true or $icon == 'right' {
		padding-right: $button-link-padding-h-icon-phone;
		@include for-tablet-up { padding-right: $button-link-padding-h-icon; }
	} @else if $icon == 'left' {
		padding-left: $button-link-padding-h-icon-phone;
		@include for-tablet-up { padding-left: $button-link-padding-h-icon; }
	}
	border: $button-link-border-width solid $button-link-border-color;
	border-radius: $button-link-border-radius;
	height: 100%;

	color: $button-link-text-color;
	background-color: $button-link-bg-color;
	line-height: $button-link-text-line-height;
	font-size: $button-link-text-size;
	@include font-proportional;
	@if $button-link-text-bold == true {
		@include font-bold;
	}
	user-select: none;

	@if $icon == true or $icon == 'right' {
		&::before {
			@include layout-centering-self(false, true);
			color: $button-link-icon-color;
			font-size: $button-link-icon-size;
			@include icon-font-mi($button-link-icon-right);
			right: $button-link-icon-pos-phone;
			@include for-tablet-up { right: $button-link-icon-pos; }
		}
		@if $button-link-icon-animation {
			@include button-link-animation-knock(knock-right-phone);
			@include for-tablet-up {
				@include button-link-animation-knock(knock-right);
			}
		}
	} @else if $icon == 'left' {
		&::before {
			@include layout-centering-self(false, true);
			color: $button-link-icon-color;
			font-size: $button-link-icon-size;
			@include icon-font-mi($button-link-icon-left);
			left: $button-link-icon-pos-phone;
			@include for-tablet-up { left: $button-link-icon-pos; }
		}
	}
	@if $button-link-pop-animation {
		@include decoration-hover-pop($button-link-pop-color);
	}
}

@mixin button-link-animation-knock($animation-name) {
	&:hover {
		transition: all 1s ease;
		&::before {
			transition: all 1s ease;
			animation-name: $animation-name;
			animation-duration: 0.2s;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
	}
	@keyframes knock-right {
		0%   { right: $button-link-icon-pos; }
		100% { right: #{$button-link-icon-pos - 0.5rem}; }
	}
	@keyframes knock-right-phone {
		0%   { right: $button-link-icon-pos-phone; }
		100% { right: #{$button-link-icon-pos-phone - 0.5rem}; }
	}
}
