/**
 *
 * Sticky Footer
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2018-04-03
 *
 * * Required Structure
 *
 *		html
 *			body
 *				[site]
 *					[site-header]
 *					[site-content]
 *					(footer)
 *
 * * Required Variable
 *
 *		Nothing
 *
 */


html, body {
	min-height: 100vh;
}

@mixin sticky-footer-site {
	@media screen {
		display: flex;
		flex-direction: column;
	}
	min-height: 100vh;  // for IE11
}

@mixin sticky-footer-site-header {
	min-height: 0.001%;  // for IE11
}

@mixin sticky-footer-site-content {
	@media screen {
		flex-grow: 1;
	}
}

body {  // for IE11
	@media screen {
		display: flex;
	}
}
