/**
 *
 * Accessibility Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-06-20
 *
 */


@warn 'Deprecated. Use Stinc instead.';


// Text meant only for screen readers
.screen-reader-text {
	position: absolute !important;
	width   : 1px;
	height  : 1px;
	clip    : rect(1px, 1px, 1px, 1px);
	overflow: hidden;

	&:focus {
		@include font-bold;
		display         : block;
		z-index         : 100000;  // Above WP toolbar
		width           : auto;
		height          : auto;
		top             : 5px;
		left            : 5px;
		padding         : 15px 23px 14px;
		border-radius   : 3px;
		box-shadow      : 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip            : auto !important;
		background-color: #f1f1f1;
		color           : #21759b;
		font-size       : 0.875rem;
		text-decoration : none;
		line-height     : normal;
	}
}

// Do not show the outline on the skip link tagret.
#content[tabindex='-1']:focus {
	outline: 0;
}
