/**
 *
 * Editor Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-06-20
 *
 * @import 'stile/sass/basic';
 * @import 'stile/sass/content';
 * @import 'stile/sass/option';
 *
 */


$editor-color          : #bce !default;
$editor-color-container: #c4c !default;
$editor-size-text-width: 48rem !default;
$editor-size-font      : 0.85rem !default;

$stile-size-unit: 0.9rem !default;  // Variable in stile
@function base-vr($val) {@return $val * $stile-size-unit;}


@mixin stool-block-editor() {
	@include stool-block-quote;
	@include stool-block-pullquote;

	.wp-block-image {
		@include stile-block-figure;
	}

	.wp-block-categories {
		li { text-align: left; }
	}

	&[data-align=center] > .editor-block-list__block-edit > div {
		text-align: center;
	}

	// From Stile Content
	@include stile-block-main;
	@include stile-inline;
	@include stile-list;

	ul:not(.wp-block-gallery), ul.stile { @include stile-list-ul-inside }
	ol:not(.wp-block-gallery), ol.stile { @include stile-list-ol-inside; }
	dl:not(.wp-block-gallery), dl.stile { @include stile-list-dl-inside; }
	ul:not(.wp-block-gallery) > li + li { margin-top: base-vr(1); }
	ol:not(.wp-block-gallery) > li + li::before { padding-top: base-vr(1); }
	li > ul, li > ol, li > dl, dd > ul, dd > ol, dd > dl { margin-top: base-vr(1); }  // for nesting Lists

	// From Stile Option
	@include stile-container;

	@include stool-editor-heading;
	@include stool-editor-link;
	@include stool-editor-table;
	@include stool-editor-option;
	@include stool-editor-class;
}

@mixin stool-editor-child-margin {
	> * + * { margin-top: base-vr(2); }
	> *:first-child { margin-top: 0; }
}

@mixin stool-editor-heading {
	h3:not(:first-child) { margin-top: 3rem; }
	h4:not(:first-child) { margin-top: 1.5rem; }
	h5:not(:first-child) { margin-top: 1rem; }

	h2, h3, h4, h5, h6, hr { clear: both; }
}

@mixin stool-editor-link {
	a:not([class]) {
		color          : $stile-link-color-text;
		text-decoration: underline;
	}
}

@mixin stool-editor-table {
	td {
		min-width: 1rem;
		padding  : 0.25rem;
	}
	thead, tbody:first-child, colgroup + tbody {
		border-top      : $stile-table-size-rule-horizontal-edge solid;
		border-top-color: $stile-table-color-rule-horizontal-edge;

		> tr:first-child {
			th, td { border-top: none; }
		}
	}

	tbody, tfoot {
		border-bottom      : $stile-table-size-rule-horizontal-edge solid;
		border-bottom-color: $stile-table-color-rule-horizontal-edge;
	}

	th, td {
		padding: base-vr(0.5) base-vr(1);  // This half vr is irregular but needed.
		@include font-size-level(1);
		@include font-proportional;

		border          : none;
		border-top      : 1px solid;
		border-top-color: $stile-table-color-rule-horizontal;

		&:not(:first-child) {
			border-left      : 1px solid;
			border-left-color: $stile-table-color-rule-vertical;
		}
		&:first-child[rowspan] {
			border-right      : 1px solid;
			border-right-color: $stile-table-color-rule-vertical;
		}
	}

	thead td,
	th {
		@include font-bold;
		text-align: center;

		color           : $stile-table-color-header-text;
		background-color: $stile-table-color-header-background;
	}
}

@mixin stool-editor-option {

	// Alignment ---------------------------------------------------------------

	.alignleft,
	.alignright {
		min-width : 10rem;  // Same with size-thumbnail and size-small
		margin    : { top: base-vr(1); bottom: base-vr(1); }
		background: {
			size  : 1rem 1rem;
			color : #fff;
			repeat: repeat;
			image: linear-gradient(-45deg,
				$editor-color 1%, transparent 1%,
				transparent 50%, $editor-color 50%,
				$editor-color 51%, transparent 51%, transparent
			);
		}
	}

	.alignleft  { margin-right: base-vr(2); }
	.alignright { margin-left : base-vr(2); }


	// Container ---------------------------------------------------------------

	.column-2,
	.column-3,
	.column-4 {
		position: relative;
		&::before {
			position        : absolute;
			top             : 0;
			left            : 0;
			background-color: #fff;
			color           : $editor-color-container;
			font-size       : $editor-size-font;
			line-height     : 1;
		}
		> * {
			padding: 1rem 0.5rem;
			border : dotted 1px $editor-color-container;
			@include stool-editor-child-margin;
		}
	}
	.column-2::before { content: 'Column 2'; }
	.column-3::before { content: 'Column 3'; }
	.column-4::before { content: 'Column 4'; }


	// Image Size --------------------------------------------------------------

	.size-thumbnail    { width: 10rem; }
	.size-small        { width: 10rem; }
	.size-medium-small { width: 15rem; }
	.size-medium       { width: 20rem; }
	.size-medium_large { width: 30rem; }
	.size-large        { width: 40rem; }


	// Tab Page ----------------------------------------------------------------

	.tab-page,
	.pseudo-tab-page {
		padding: 1rem 0.5rem;
		border : dotted 1px $editor-color-container;
		@include stool-editor-child-margin;

		position: relative;
		&::before {
			position        : absolute;
			top             : -1px;
			left            : -1px;
			background-color: #fff;
			color           : $editor-color-container;
			font-size       : $editor-size-font;
			line-height     : 1;
		}
	}

	.tab-page::before { content: 'Tab Page'; }
	.pseudo-tab-page::before { content: 'Pseudo Tab Page'; }

}

@mixin stool-editor-class {
	div.frame {
		background-color: $stile-block-color-background;
		padding         : base-vr(2);
		line-height     : base-vr(2);

		@include stool-editor-child-margin;
	}

	div.clear {
		border: dotted 1px $editor-color-container;
		clear : both;

		&::after {
			content  : 'Clear Float';
			color    : $editor-color-container;
			font-size: $editor-size-font;
		}
	}
}
