/**
 *
 * Editor Style
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-03-05
 *
 * @import 'stile/sass/basic';
 * @import 'stile/sass/content';
 * @import 'stile/sass/option';
 *
 */


@import '../decoration';
@import '../element';
@import '../util';

$editor-color          : #bce !default;
$editor-color-container: #c4c !default;
$editor-size-text-width: 48rem !default;
$editor-size-font      : 0.85rem !default;

$stile-size-unit: 0.9rem !default;  // Variable in stile
@function base-vr($val) {@return $val * $stile-size-unit;}


@mixin stool-editor($inside-body: true, $custom-font: false) {
	@if $inside-body {
		body {
			@include font-family($custom-font);

			margin: base-vr(1) auto base-vr(1) base-vr(1);
			max-width: $editor-size-text-width;
			width: calc(100% - #{base-vr(2)});

			@include stool-editor-child-margin;
		}
	} @else {
		@include font-family($custom-font);
		@include stool-editor-child-margin;
	}

	blockquote {
		@include stool-editor-child-margin;
	}

	p, ul, ol, dl { border: dashed 1px $editor-color; }

	// From Stile Content
	@include stile-block-main;
	@include stile-inline;
	@include stile-list;
	// From Stile Option
	@include stile-container;

	@include stool-editor-heading;
	@include stool-editor-link;
	@include stool-editor-table;
	@include stool-editor-option;
	@include stool-editor-class;
}

@mixin stool-editor-child-margin {
	> * + * { margin-top: base-vr(2); }
	> *:first-child { margin-top: 0; }
}

@mixin stool-editor-heading {

	h3:not(:first-child) { margin-top: 3rem; }
	h4:not(:first-child) { margin-top: 1.5rem; }
	h5:not(:first-child) { margin-top: 1rem; }

	h2, h3, h4, h5, h6, hr { clear: both; }

}

@mixin stool-editor-link {

	a:not([class]) {
		color: $stile-link-color-text;
		text-decoration: underline;
	}

}

@mixin stool-editor-table {

	td {
		min-width: 1rem;
		padding: 0.25rem;
	}

}

@mixin stool-editor-option {

	// Alignment ---------------------------------------------------------------

	.alignleft,
	.alignright {
		min-width: 10rem;  // Same with size-thumbnail and size-small
		@include fill-stripe(#fff, $editor-color, 1rem, -45deg, 1%);
		margin-top: base-vr(1);
		margin-bottom: base-vr(1);
	}

	.alignleft {
		margin-right: base-vr(2);
	}

	.alignright {
		margin-left: base-vr(2);
	}


	// Container ---------------------------------------------------------------

	.column-2,
	.column-3,
	.column-4 {
		position: relative;
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			color: $editor-color-container;
			background-color: #fff;
			font-size: $editor-size-font;
			line-height: 1;
		}
		> * {
			padding: 1rem 0.5rem;
			border: dotted 1px $editor-color-container;
			@include stool-editor-child-margin;
		}
	}
	.column-2::before { content: 'Column 2'; }
	.column-3::before { content: 'Column 3'; }
	.column-4::before { content: 'Column 4'; }


	// Image Size --------------------------------------------------------------

	.size-thumbnail {
		width: 10rem;
	}

	.size-small {
		width: 10rem;
	}

	.size-medium-small {
		width: 15rem;
	}

	.size-medium {
		width: 20rem;
	}

	.size-medium_large {
		width: 30rem;
	}

	.size-large {
		width: 40rem;
	}


	// Tab Page ----------------------------------------------------------------

	.tab-page,
	.pseudo-tab-page {
		padding: 1rem 0.5rem;
		border: dotted 1px $editor-color-container;
		@include stool-editor-child-margin;

		position: relative;
		&::before {
			position: absolute;
			top: -1px;
			left: -1px;
			color: $editor-color-container;
			background-color: #fff;
			font-size: $editor-size-font;
			line-height: 1;
		}
	}

	.tab-page::before { content: 'Tab Page'; }
	.pseudo-tab-page::before { content: 'Pseudo Tab Page'; }

}

@mixin stool-editor-class {

	div.frame {
		background-color: $stile-block-color-background;
		padding: base-vr(2);
		line-height: base-vr(2);

		@include stool-editor-child-margin;
	}

	div.clear {
		border: dotted 1px $editor-color-container;
		clear: both;
		&::after {
			content: 'Clear Float';
			color: $editor-color-container;
			font-size: $editor-size-font;
		}
	}

}
