/**
 *
 * Icon Font Styles
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-12-28
 *
 */


@charset 'utf-8';


@mixin icon-font($font, $code) {
	content: $code;
	font-family: $font;

	display: inline-block;
	font-style: normal;
	line-height: 1;
	@include font-bold-cancel;
}

@mixin icon-font-fa($code) {
	@include icon-font(FontAwesome, $code);
}

@mixin icon-font-mi($code) {
	@include icon-font('Material Icons', $code);
}
