/**
 *
 * Button Styles - Ghost
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2017-12-28
 *
 */


@charset 'utf-8';


$button-ghost-border-width    : 1px !default;
$button-ghost-border-radius   : 0.25rem !default;
$button-ghost-text-bold       : false !default;
$button-ghost-text-size       : initial !default;
$button-ghost-text-line-height: 1.25 !default;

$button-ghost-padding-h      : 2rem !default;
$button-ghost-padding-h-phone: 1rem !default;
$button-ghost-padding-v      : 1.25rem !default;
$button-ghost-padding-v-phone: 0.75rem !default;


@mixin button-ghost($color, $line_color, $bg_color, $inv_color, $inv_bg_color) {
	@include layout-centering(true);

	padding: $button-link-padding-v-phone $button-link-padding-h-phone;
	@include for-tablet-up { padding: $button-link-padding-v $button-link-padding-h; }

	line-height: $button-ghost-text-line-height;
	font-size: $button-ghost-text-size;
	@include font-proportional;
	@if $button-ghost-text-bold == true {
		@include font-bold;
	}
	text-align: center;
	user-select: none;

	color: $color;
	background-color: $bg_color;

	border: $button-ghost-border-width solid $line_color;
	border-radius: $button-ghost-border-radius;

	transition: all 0.3s ease 0s;
	&:hover {
		color: $inv-color;
		background-color: $inv_bg_color;
		border-color: $inv_bg_color;
	}
}
