/**
 *
 * Stile Sample (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-07-04
 *
 */

@charset 'utf-8';

@import '../node_modules/stile/dist/sass/basic';
@import '../node_modules/stile/dist/sass/content';
@import '../node_modules/stile/dist/sass/option';
@import '../dist/sass/structure/side-header';


:root {
	font-size: 14px;
	@include font-responsive-size-interval(600px, 900px, 14px, 16px);
	@include font-responsive-size-interval(900px, 1800px, 16px, 20px);
	@include for-big-desktop-up { font-size: 20px; }
}

body {
	@include font-family;
	@include font-smoothing;
	@include font-visible-chrome;

	padding-top: 6rem;
	padding-bottom: 6rem;
	overflow-x: hidden;
}

.stile {
	@include stile-content;
	@include stile-option(true);
	color: hsla(0, 0, 0, 0.75);

	> div:not([class]) { @include stile-margin; }
}


// -----------------------------------------------------------------------------


.entry-inner {
	@include layout-side-margin(64rem, 2rem);
}

.entry-header {
	border: 1px solid #777;
}
