/**
 *
 * Stile Sample (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2019-08-02
 *
 */


@charset 'utf-8';

@import '../node_modules/stile/dist/sass/all';
@import '../dist/sass/structure/side-header';
@import '../dist/sass/menu/priority-menu';


:root {
	font-size: 14px;
	@include font-responsive-size-interval(600px, 900px, 14px, 16px);
	@include font-responsive-size-interval(900px, 1800px, 16px, 20px);
	@include for-big-desktop-up { font-size: 20px; }
}

body {
	@include font-family;
	@include font-smoothing;
	@include font-visible-chrome;

	padding-top: 6rem;
	padding-bottom: 6rem;
	overflow-x: hidden;

	position: relative;
}

.stile {
	@include layout-side-margin(48rem, 1rem);
	@include for-tablet-up { @include layout-side-margin(48rem, 2rem); }

	@include stile-content;
	@include stile-option(true);
	color: hsla(0, 0, 0, 0.75);

	> div:not([class]) { @include stile-margin; }
}


// -----------------------------------------------------------------------------


.entry-inner {
	@include layout-side-margin(64rem, 2rem);
}

.entry-header {
	border: 1px solid #777;
}


// -----------------------------------------------------------------------------


.st-sticky-header {
	background-color: rgba(#fff, 0.95);
	border: red 1px dashed;

	& + * {
		margin-top: base-vr(2);
	}

	.st-sticky-header-top {
		border: blue 1px dashed;
		padding-bottom: base-vr(4);
	}

	transition: box-shadow 0.5s;
	position: relative;  // Must need!
}

.st-sticky-header.sticky {
	position: fixed;
	top     : 0;
	left    : 0;
	right   : 0;
	z-index : 9999;

	&.floating { box-shadow: 0 0.25rem 0.25rem 0 rgba(#000, 0.25); }
}

.st-sticky-header.fixed.sticky {
	transition: transform 0.25s, box-shadow 0.5s;
	&.offset { transition: transform 0.5s; }
}


// -----------------------------------------------------------------------------


.menu-sample {
	margin-top: 2rem;
	& + * { margin-top: 2rem; }

	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

	padding: { left: 1rem; right: 1rem; }
}
